<a href="https://colab.research.google.com/github/arpitran/Coding-Challenges/blob/master/DDI_q200.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question from <a href="www.interviewqs.com">Data Interview Qs</a> - sign up to receive a few DS questions/week via email.



---

<p>Suppose you are given the following dataframe containing food, weight, and calories. You'll notice the foods have varying weights associated with them.</p>
<p>Using Python (Pandas), can you sort the dataframe in descending order with the most calorically dense food (normalized for weight) at the top?<p>

In [2]:
#code to generate example dataframe
import pandas as pd
raw_data = {'food': ['bacon', 'strawberries', 'banana', 'spinach', 'chicken breast', 'peanuts'], 
            'grams': [50, 200, 100, 200, 50, 100],
           'calories': [271, 64, 89, 46, 80, 567]}
df = pd.DataFrame(raw_data, columns = ['food', 'grams', 'calories'])
df

             food  grams  calories
0           bacon     50       271
1    strawberries    200        64
2          banana    100        89
3         spinach    200        46
4  chicken breast     50        80
5         peanuts    100       567

In [4]:
df["calories/grams"]=df['calories']/df['grams']
df.sort_values(by='calories/grams', ascending=False)

             food  grams  calories  calories/grams
5         peanuts    100       567            5.67
0           bacon     50       271            5.42
4  chicken breast     50        80            1.60
2          banana    100        89            0.89
1    strawberries    200        64            0.32
3         spinach    200        46            0.23

<p><a href="https://www.interviewqs.com/signup">Upgrade to premium</a> to receive in-depth solutions to each problem.</p>



---